$colors: (
  light: #fff,
  dark: #000,
  primary: #0058ff,
  danger: #cc0000,
  lightblue: #f3faff,
  nevy: #aabfe6,
  sky: #00ffff,
  ascent: #737373,
  ascent1: #b9b9b9,
  dark1: #222f46,
  dark2: #000a27,
  dark3: #00071c,
  grey: #707070,
);
$maxLoop: 100;
$step: 5;
